@model HiooshServer.Models.Rating

@{
    ViewData["Title"] = "Details";
}
<div class="rating">
    <h1>Details</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.NumberRating)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.NumberRating)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.StringRating)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.StringRating)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Date)
            </dd>
        </dl>
    </div>
    <hr />
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary" role="button" >Edit</a> |
        <a asp-action="Index" class="btn btn-primary" role="button">Back to List</a>
    </div>
</div>
